<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Acaros</title>
</head>
<body>
<div><p>La escabiosis o sarna es una enfermedad de la piel causada por el ácaro parásito Sarcoptes scabiei, llamado
    comúnmente arador de la sarna. Es una ectoparasitosis de distribución mundial en todas las razas. Es una afección
    cosmopolita, extremadamente contagiosa, que se observa en particular en las personas que viajan a menudo. Alcanza
    a todas las capas de la población y constituye una dermatosis muy frecuente y de fácil tratamiento.</p></div>
<div><p> Los sintomas de tener acaros son : </p>
    <ol>
        <ul>El principal síntoma es la picazón insistente, que se intensifica durante las noches y con el calor. El
            picor está causado por la reacción alérgica del cuerpo al parásito, que se manifiesta con pequeños granos,
            ampollas y pequeñas úlceras con costras. No causa fiebre, a menos que exista infección.</ul>
        <ul>Las lesiones más frecuentes son las pápulas eritematosas y las costras hemáticas, estas últimas, productos
            del rascado, sin embargo, las lesiones más típicas y que son de gran ayuda para el diagnóstico son los
            surcos, líneas grisáceas y sinuosas de 1 a 15 mm de largo, que son el reflejo exterior de una galería
            excavada en la epidermis por la hembra con el fin de desovar, y las vesículas perladas, del grosor de una
            cabeza de alfiler, producidas por la secreción del parásito.</ul>
        <ul>Estas lesiones, que predominan en las muñecas, las caras laterales de los dedos y de las manos, los codos y
            las nalgas, se extienden a todo el cuerpo. Algunas localizaciones son electivas, y no necesariamente siempre
            presentes: en el varón, el prepucio y el glande (chancro escabioso); en la mujer, la areola (fuera de la
            lactancia, las lesiones bilaterales de ambas mamas hacen pensar en la sarna); en el niño y el lactante, la
            planta de los pies.</ul>
    </ol>
</div>
<div>
    <p>¿Que tomar y/o aplicar?</p>
    <ol>
        <ul>Ivermectina (Via Oral)</ul>
        <ul>Permetrina (Crema)</ul>
    </ol>
</div>
<div><a href="{{ url_for('torso') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>