<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Crees tener conjuntivitis?</h1>
<p>Informacion útil</p>
<div>
<p>La conjuntivitis es una inflamación de la conjuntiva, generalmente causada por virus, bacterias o una alergia. La
    conjuntiva puede resultar inflamada debido a una reacción alérgica al polvo, el moho, la caspa animal o el polen,
    y puede verse irritada por la acción del viento, el polvo, el humo y otras clases de agentes que producen polución
    del aire.</p>
</div>
<div>
    <p> Sintomas: </p>
    <ol>
        <ul>Los síntomas de la conjuntivitis se reconocen de inmediato ya que el ojo enrojece y lagrimea más.</ul>
        <ul>Asimismo, existe ardor y la sensación de tener un cuerpo extraño dentro del ojo.</ul>
        <ul>La sensibilidad a la luz es otro de los síntomas de esta afección y con frecuencia, es necesario llevar
            gafas que protejan al ojo de la luz solar o ambiente. </ul>
        <ul>Si la infección es bacteriana el ojo descarga unas mucosas amarillas o verdes, mayormente durante la noche,
            que pueden pegar las pestañas.</ul>
    </ol>
</div>
<div>
    <p> Causas: </p>
    <ol>
        <ul>La conjuntivitis se puede contraer si la persona que la padece ha estado en contacto con manos o toallas
            infectadas.</ul>
        <ul>Las infecciones pueden tener un origen viral, ya que los virus de una persona infectada se propagan por el
            aire, o bacteriano.</ul>
        <ul>También puede ser una irritación causada por agentes químicos, viento, polvo, humo o cualquier otro tipo de
            polución ambiental.</ul>
    </ol>
</div>
<div>
<h2>¿Que deberias usar?</h2>
<p>
    Debes de visitar a un medico porque este tipo de medicamento necesita receta, pero mientras puedes limpiar el
    ojo con suero fisiologico y una gasa esteril.
</p>

</div>
<div><a href="{{ url_for('cabeza') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>