<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Diarrea y/o vomito</title>
</head>
<body>
<div>
    <h1>Diarrea</h1>
    <p>Se denomina diarrea al aumento en la frecuencia de las deposiciones (más de tres veces al día) acompañada de
    una disminución de la consistencia de éstas. A veces la diarrea puede contener sangre, moco, pus y alimentos no
    digeridos.

Dependiendo de la persona, esta patología puede ser leve y desaparecer en pocos días o durar más tiempo.

En algunos grupos de riesgo, como los niños y los bebés conviene vigilar al enfermo puesto que en ellos puede derivar
    a una enfermedad grave.</p></div>
<div>
    <p> Causas: </p>
    <ol>
        <ul>gastroenteritis vírica epidémica, muy frecuente en niños.</ul>
        <ul>ingesta de determinados alimentos o agua que contienen determinados tipos de bacterias que provocan
            la diarrea y así como intoxicaciones alimentarias.</ul>
        <ul>algunos medicamentos, como antibióticos, fármacos quimioterápicos o laxantes con magnesio pueden causar
            diarrea como efecto secundario.</ul>
        <ul>serie de patologías como las enfermedades inflamatorias del intestino, principalmente como son la colitis
            ulcerosa y la enfermedad de Crohn; la insuficiencia del páncreas o el síndrome del intestino irritable o
            la ansiedad y situaciones estresantes, entre otras.</ul>
    </ol>
</div>
<div>
    <h1>Vomito</h1>
    <p>El vómito es la salida, forzada o no, de los contenidos del estómago, que suben a través del esófago para ser
        finalmente expulsados por la boca.

No es en sí una enfermedad, sino que puede aparecer como síntoma de otras dolencias o enfermedades.</p>
</div>
<div>
    <h3>Diarrea y Vomito juntos</h3>
    <p>Los vómitos y la diarrea (evacuaciones intestinales líquidas y frecuentes) pueden ser dañinos debido a que
        pueden provocar deshidratación. La deshidratación ocurre cuando se pierden demasiados líquidos. Los niños
        pequeños y los adultos mayores pueden deshidratarse rápidamente, pero la deshidratación puede suceder a
        cualquier edad.</p>
</div>
<div>
    <p>¿Que tomar?</p>
    <ol>
        <ul>Si Tienes ambos tomar Primperan (si es solo vomito tambien puedes tomar este medicamento)</ul>
        <ul>Si es solo Diarrea Fortasec</ul>
    </ol>
</div>
<div><p>Recuerda Visitar a tu medico para estar mas tranquilo y tener un diagnostico completo.</p></div>
<div><a href="{{ url_for('comunes') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>