<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Tienes dolor en la garganta?</h1>
<p>Informacion útil</p>
<div>
<p>La mayoría de los dolores de garganta son causados por infecciones virales como la gripe o el resfriado común.
    Estos problemas de garganta son generalmente leves y desaparecen por cuenta propia.</p>
<p>La garganta es como un tubo de vía de paso que separa el tracto respiratorio del tracto digestivo. Está formado por
    músculo suave y una capa de membrana mucosa.

La laringe facilita el habla. También contiene la apertura para la trompa de Eustaquio, el cual drena secreciones del
    oído medio, el espacio nasal o nares posteriores, laringe, esófago y tonsilas.

Un dolor de garganta puede sentir vagamente dolor como arañazo, ardor agudo. El dolor y la inflamación podrían hacer
    difícil el deglutir, y las manchas podrían ser visibles en las tonsilas. Si las tonsilas están infectadas, el dolor
    podría ser más sentido en los oídos que en la garganta y la deglución podría ser extremadamente dolorosa. Si la
    laringe se llega a inflamar usted podría experimentar pérdida de la voz temporalmente.</p>
</div>
<div>
<h2>¿Que deberias de tomar?</h2>
<ol>
    <ul>Lizipaina</ul>
    <ul>Propolis (Medicamento natural)</ul>
</ol>
</div>
<div><a href="{{ url_for('comunes') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>