<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Tienes dolores de cabeza?</h1>
<p>Es un dolor o molestia en la cabeza, el cuero cabelludo o el cuello.
    Las causas graves de los dolores de cabeza son raras. La mayoría de las personas con dolores de cabeza
    se pueden sentir mucho mejor haciendo cambios en su estilo de vida, aprendiendo formas de relajarse y,
    algunas veces, tomando medicamentos.</p>
<p>El tipo de dolor de cabeza más común es la cefalea tensional. Es causado por tensión muscular en los hombros,
    el cuello, el cuero cabelludo y la mandíbula. Una cefalea tensional:</p>
<p>Puede estar relacionada con el estrés, la depresión, la ansiedad, un traumatismo craneal o sostener la cabeza y
    el cuello en una posición anormal.
    Tiende a darse en ambos lados de la cabeza. A menudo comienza en la parte posterior de la cabeza y se propaga hacia
    delante. El dolor puede ser sordo u opresivo, como una banda apretada o una prensa. Es posible que se sienta dolor
    y rigidez en los hombros, el cuello y la mandíbula.</p>
<p>Una cefalea migrañosa implica un dolor fuerte que generalmente ocurre con otros síntomas, como cambios en la visión, sensibilidad al ruido o a la luz o náuseas. Con una migraña:

El dolor puede ser punzante, palpitante o pulsátil. Tiende a comenzar en un lado de la cabeza y se puede propagar a
    ambos lados.
La cefalea puede asociarse con un "aura". Este es un grupo de síntomas de advertencia que se inician antes del dolor
    de cabeza. El dolor generalmente empeora a medida que usted trata de desplazarse de un lugar a otro.
Las migrañas se pueden desencadenar por alimentos como el chocolate, ciertos quesos o el glutamato monosódico (GMS).
    La abstinencia de cafeína, la falta de sueño y el alcohol también pueden desencadenarlos.</p>
<h2>¿Que deberias de tomar?</h2>
<ol>
    <ul>Ibuprofeno (mas común ademas de ser fuerte)</ul>
    <ul>Aspirina (Las mujeres con su periodo no deben de tomar este medicamento.)</ul>
    <ul>Paracetamol (preferiblemente tomar cuando ademas del dolor tienes fiebre</ul>
</ol>
<a href="{{ url_for('comunes') }}">Atrás</a>
<a href="{{ url_for('inicio') }}">Volver al menu principal</a>
</body>
</html>