<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Tienes dolor muscular?</h1>
<p>Informacion útil</p>
<div>
<p>Los dolores musculares son comunes y pueden comprometer más de un músculo. El dolor muscular también puede
    involucrar ligamentos, tendones y fascia. La fascia son los tejidos blandos que conectan los músculos, huesos
    y órganos.</p>
<p>El dolor muscular a menudo está muy relacionado con tensión, sobrecarga o lesión muscular por un ejercicio o
    trabajo físicamente exigente. El dolor muscular tiende a comprometer a músculos específicos, comienza durante o
    justo después de la actividad. A menudo la actividad que causa el dolor es bastante obvia.

El dolor muscular también puede ser un signo de enfermedades que afectan todo el cuerpo. Por ejemplo, algunas
    infecciones (incluso la gripe) y trastornos que afectan los tejidos conectivos en todo el cuerpo (como el lupus)
    pueden causar dolor.

Una causa común de dolores y molestias musculares es la fibromialgia, una afección que causa sensibilidad en los
    músculos y tejido blando circundante, dificultades para dormir, fatiga y dolores de cabeza.</p>
</div>
<div>
<h2>¿Que deberias de tomar?</h2>
<ol>
    <ul>Ibuprofeno (para cualquier tipo de inflamacion)</ul>
    <ul>Diclofenaco [Para dolores agudos (los dolores agudos son dolores a corto plazo)] es mas fuerte que
    el ibuprofeno</ul>
    <ul>naproxeno [solo para dolores musculares, ademas que es para dolores cronicos (larga duracion)]</ul>
</ol>
</div>
<div><a href="{{ url_for('comunes') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>