<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Dudas</title>
</head>
<body>
<section id="about">

   	<div class="row section-head">

      	<div class="twelve columns">

      		<h1>Terms & Conditions<span>.</span></h1>

	         <hr />

	         <p>El uso de informacion de esta pagina esta sujeto al conocimiento de los farmaceuticos de la universidad de Barcelona.</p>
             <p>Toda persona que quiera hacer una consulta debe ingresar sus datos para tener un control de la informacion solicitada.</p>
             <p>Los datos como cedula, direccion y numero de telefono son necesarios por si llega a ocurrir un problema con el estado pero no se hara uso de esta informacion.</p>
             <p>Dicha informacion es de uso personal y exclusivo para el administrador de la farmacia.</p>
             <p>Toda la informacion adicional que se pueda obtener de esta pagina es de dominio publico.</p>
             <p>Farmacias Hormigos no se hace responsable de efectos colaterales que pueden ocasionarle alguno de los medicamentos que haya visto como sugerencia en esta pagina.</p>
             <p>La base de datos que tiene esta pagina no reemplazara a la prescripsion medica o visita presencial a una farmacia.</p>

	      </div> <!-- end section-head -->

      </div>
    <div class="bgrid">

			      <h3>Como usar.</h3>

			      <p>Para obtener la informacion debe darle clic al boton "Query" y seras redireccionado a un formulario donde tendras especificar una informacion basica totalmente obligatoria.
			      </p>
                  <p>Habran tres secciones donde debera seleccionar si lo que necesita saber es de enfermedad comun o algo mas especifico como en el area de la cabeza o el torso.</p>

		   	</div>

      		<div class="bgrid">

			     	<h3>Dudas.</h3>

			     	<p>¿Por que hemos hecho este sitio web?</p>
                    <p>Para facilitar el acceso a la informacion general sobre cosas puntuales, para no tener la necesidad de ir presencialmente a la farmacia o evitar el que no te atiendan por telefono.</p>
                    <p>¿La informacion de esta web podria reemplazar el ir al medico?</p>
                    <p>No. Solamente con una base de datos pequeña de sintomas simples y comunes con una informacion un poco detallada, que para es tipo de situaciones por lo general no hace falta ir al medico, pero aun asi recomendamos tomar este tipo de informacion para controlar los sintomas al momento pero para estar seguro al 100% de lo que tienes debes de ir a una consulta medica. Si no encuentras lo que tienes en nuestra base de datos consulte a su medico inmediatamente.</p>

		      </div>
</section>
</body>
</html>