<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Fiebre</title>
</head>
<body>
<div><p>La fiebre es un síndrome (conjunto de síntomas y signos) cuyo signo principal es la hipertermia,
    aunque no es imprescindible, pues puede haber fiebre sin hipertermia. Decimos que la hipertermia es el signo
    principal, el más frecuente, el más fácil de medir, y el primero que se manifiesta. La fiebre es la respuesta
    del organismo a agentes de naturaleza infecciosa (que es lo más frecuente) o a causas no infecciosas
    (toxinas de resorción, lesiones en ciertos territorios nerviosos, etc). Hablamos así de fiebre séptica en el
    primer caso y aséptica en el segundo.</p></div>
<div><p> Los sintomas de la fiebre son : </p>
    <ol>
        <ul>Trastornos circulatorios: El pulso aumenta en forma paralela con la temperatura; a cada grado de
            elevación de temperatura corresponde un aumento de 10-15 pulsaciones por minuto. Se habla de fiebre
            dinámica cuando el pulso es fuerte; fiebre adinámica cuando el pulso es débil desde el principio y
            consecutivo al agotamiento cardíaco, y de fiebre disociada cuando no se observa aumento de pulsaciones
            junto con el aumento de temperatura.</ul>
        <ul>Presión arterial: Aumenta al estallar un acceso agudo de fiebre, pero cuando la temperatura se estabiliza,
            suele estar normal o subnormal. Cuando la temperatura central aumenta rápidamente hay vasoconstricción
            periférica (el enfermo siente frío y tiene temblores febriles: éste es el estado de escalofrío). </ul>
        <ul>Trastornos respiratorios: La frecuencia respiratoria aumenta con relación al aumento de temperatura
            (polipnea térmica).</ul>
        <ul>Trastornos digestivos: Las secreciones del aparato digestivo en general se hallan disminuidas,
            al igual que el peristaltismo gastrointestinal, ya que hay tendencia al estreñimiento. Hay también
            apetito disminuido o abolido, pero, en cambio, la sed aumenta.</ul>
        <ul>Trastornos humorales: Durante la fiebre, la sangre se concentra y disminuye la cloremia, así como la
            excreción de cloruros y la cantidad de orina. Esto se produce aunque se ingieran cloruros en cantidad
            suficiente. </ul>
    </ol>
</div>
<div>
    <p>¿Que tomar?</p>
    <ol>
        <ul>Paracetamol</ul>
        <ul>Aspirina (mujeres en su periodo no deben de tomar este medicamento)</ul>
    </ol>
</div>
<div><a href="{{ url_for('comunes') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>