<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<div><p>La gripe, gripa o influenza es una enfermedad infecciosa causada por un tipo de virus de ARN de la familia
    Orthomyxoviridae. Las palabras gripe y gripa proceden de la palabra francesa grippe
    (procedente del suizo-alemán grupi) (acurrucarse), mientras que influenza procede del italiano.</p></div>
<div><p>En los seres humanos afecta a las vías respiratorias, inicialmente puede ser similar a un resfriado y
    con frecuencia se acompaña de síntomas generales como dolor de garganta, debilidad, dolores musculares (mialgias),
    dolor estomacal, articulares (artralgias) y de cabeza (cefalea), con tos (que generalmente es seca y sin mucosidad),
    malestar general y algunos signos como pueda ser la fiebre. En algunos casos más graves puede complicarse con
    pulmonía (neumonía), que puede resultar mortal, especialmente en niños pequeños y sobre todo en adultos mayores.
    Aunque se puede confundir con el resfriado común (catarro), la gripe es una enfermedad más grave y está causada
    por un tipo diferente de virus. También puede provocar, más a menudo en niños, náuseas y vómitos,​ que al ser
    síntomas de gastroenteritis hace que se denomine gripe estomacal o abdominal.</p></div>
<div>
<h2>¿Que deberias de tomar?</h2>
<ol>
    <ul>Frenadol</ul>
    <ul>Bisolgrip</ul>
</ol>
</div>
<div><a href="{{ url_for('comunes') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>