<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Crees tener herpes labial?</h1>
<p>Informacion útil</p>
<div>
<p>El herpes oral es una infección de los labios, la boca o las encías debido al virus del herpes simple. Esta infección
    provoca ampollas pequeñas y dolorosas comúnmente llamadas calenturas (aftas, boqueras o fuegos) o herpes febril. El
    herpes oral también se conoce como herpes labial.</p>
</div>
<div>
    <p> Sintomas: </p>
    <ol>
        <ul>Comezón en los labios o en la piel alrededor de la boca, ardor cerca de los labios o la zona de la boca,
        hormigueo cerca de los labios o la zona de la boca.</ul>
        <ul>Dolor de garganta, fiebre, inflamación de ganglios linfáticos, dolor al tragar.</ul>
    </ol>
</div>
<div>
    <p> Causas: </p>
    <ol>
        <ul>El herpes oral es una infección común de la zona de la boca. La infección es causada por el virus del herpes
            simple tipo 1.</ul>
        <ul>Los virus del herpes se propagan fácilmente de las personas que tienen un brote activo o una lesión de
            herpes.</ul>
    </ol>
</div>
<div>
<h2>¿Que deberias usar?</h2>
<ol>
    <ul>Utilizar la crema Aciclovir</ul>
</ol>
</div>
<div><a href="{{ url_for('cabeza') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>