<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Mucosidad</title>
</head>
<body>
<div><p>Es una enfermedad que provoca la acumulación de moco espeso y pegajoso en los pulmones, el tubo digestivo y
    otras áreas del cuerpo. Es uno de los tipos de enfermedad pulmonar crónica más común en niños y adultos jóvenes.
    Es una enfermedad potencialmente mortal. Esta acumulación de moco ocasiona infecciones pulmonares potencialmente
    mortales y serios problemas digestivos. Esta enfermedad también puede afectar las glándulas sudoríparas y el
    aparato reproductor masculino.</p></div>
<div><p> Los sintomas de tener mucosidad son : </p>
    <ol>
        <ul>Incapacidad para aumentar de peso normalmente durante la niñez, piel con sabor salado.</ul>
        <ul>Dolor abdominal a causa del estreñimiento grave, heces pálidas o color arcilla, de olor fétido, que tienen
            moco o que flotan, náuseas e inapetencia, pérdida de peso.</ul>
        <ul>Tos o aumento de la mucosidad en los senos paranasales o los pulmones, fatiga, ongestión nasal causada por
            los pólipos nasales, episodios recurrentes de neumonía, dolor o presión sinusal causados por infección o
            pólipos.</ul>
        <ul></ul>
    </ol>
</div>
<div>
    <p>¿Que tomar?</p>
    <ol>
        <ul>Jarabe Mucoliptico</ul>
        <ul>Jarabe Visolbon</ul>
        <ul>Jarabe Actithiol</ul>
    </ol>
</div>
<div><a href="{{ url_for('torso') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>