<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Sientes tus oidos Tapados?</h1>
<p>Informacion útil</p>
<div>
<p>Consiste en la acumulación de líquido o aire en la cavidad del oído medio; por lo general, el líquido es claro y
    sin pus (no purulento) porque no se debe a una infección por bacterias. Tambien se debe a acumulacion en exceso
de cera o simplemente agua</p>
</div>
<div>
    <p> Tipos: </p>
    <ol>
        <ul>Agudo: cuando ocurre de manera súbita y casi siempre desaparece en poco tiempo.</ul>
        <ul>Subagudo: si persiste por más de tres semanas.</ul>
        <ul>Crónico: si persiste por más de tres meses.</ul>
    </ol>
</div>
<div>
    <p> Causas: </p>
    <ol>
        <ul>Los cambios bruscos de altitud, como ocurre al viajar en avión o en automóvil.</ul>
        <ul>La otitis media serosa o mucoide, casi siempre debida a reacciones alérgicas o  infecciones virales de
            las vías respiratorias altas (oído, nariz o garganta), por ejemplo la gripa, el resfriado común o la
            faringitis viral.</ul>
    </ol>
</div>
<div>
<h2>¿Que deberias usar?</h2>
<ol>
    <ul>Si es cera lo que tienes que usar es otocerun</ul>
    <ul>Para todo lo demas Dryotix</ul>
</ol>
</div>
<div><a href="{{ url_for('cabeza') }}">atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>