<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Quemaduras</title>
</head>
<body>
<div><p>Una quemadura es un tipo de lesión de la piel que puede ser provocada por diversas causas. Las quemaduras
    térmicas se producen por el contacto con llamas, líquidos calientes, superficies calientes y otras fuentes de altas
    temperaturas, o con el contacto con elementos a temperaturas extremadamente bajas. También existen las quemaduras
    químicas y las quemaduras eléctricas.</p></div>

<div>
    <p>¿Que aplicar?</p>
    <ol>
        <ul>Crema Silvederma</ul>
        <ul>Crema Furafin</ul>
    </ol>
</div>
<div><a href="{{ url_for('torso') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>