<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/enfermedad.css') }}">
    <title>Farmacia Hormigos</title>
</head>
<body>
<h1>¿Tienes Sequedad en los ojos?</h1>
<p>Informacion útil</p>
<div>
<p>La sequedad ocular (o síndrome del ojo seco) puede ser debida a la toma de ciertos medicamentos
    (ansiolíticos, tratamientos hormonales sustitutivos que se utilizan en el tratamiento de la menopausia, etc.),
    a la contaminación, al aire acondicionado, al uso de lentillas o, simplemente, a la edad. La sequedad ocular se
    manifiesta por una mayor sensibilidad a nivel de los ojos, una molestia ante la luz o, incluso, una dificultad para
    abrir los ojos por la mañana. Todo ello provoca una inflamación a nivel del ojo (ojo rojo) y una disminución de la
    agudeza visual provocada por una disminución en la secreción de lágrimas.</p>

</div>
<div>
<h2>¿Que deberias de utilizar?</h2>
<div><p>Para la sequedad en los ojos se aplica un lubricante ocular, nosotros te recomentamos Acuoral</p></div>
</div>
<div><a href="{{ url_for('comunes') }}">Atrás</a></div>
<div><a href="{{ url_for('inicio') }}">Volver al menu principal</a></div>
</body>
</html>